a.disabled{
    pointer-events:none;
    cursor: default;
    color: #777 !important;
}

body {
    background-color: #343434;
    font-family: Helvetica;
    font-size: 17px;
    color: #f7fff7;
}

nav {
    background-color: #343434;
    font-family: Helvetica;
    font-size: 17px;
}


h2 {
    background: #db0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff1a1a, #db0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff1a1a, #db0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff1a1a, #db0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff1a1a, #db0000); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 50px;
}

h3{
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
}

h4 {
    background: #db0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff1a1a, #db0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff1a1a, #db0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff1a1a, #db0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff1a1a, #db0000); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
	font-size: 30px;
}

#div-log-header {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom: transparent;
    background: -webkit-linear-gradient(rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%); /* Standard syntax (must be last) */
}

#div-navbar-header {
    margin-left:10px;
    margin-right:10px;
}

#navbar {
    margin-left:10px;
    margin-right:10px;
}

#title-login {
    background: #db0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff1a1a, #db0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff1a1a, #db0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff1a1a, #db0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff1a1a, #db0000); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Impact, Charcoal, sans-serif;
    text-decoration:none;
    font-weight: bold;
    font-size: 50px;
    padding: 0px 30px;
}

#div-log-cent {
    margin: 0 auto -236px;
    min-height: 100%;
    background-color: transparent;
    max-width: 500px;
}

#div-log-form {
    color: #343434;
    margin-top: 30%;
    margin-bottom: 30%;
    min-height: 70%;
    background-color: white;
    max-width: 500px;
    min-width: 350px;
}

#div-log-form-content {
    padding: 10% 10%;
}

#div-log-warnings{
    color: red;
    font-weight: bold;
    padding: 0px auto;
}

#form-log-button {
    padding: 5% 0;
}

#form-log-button button {
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#form-log-button button:hover {
    background-color: #ff1a1a;
}

#form-log-button label{
    font-weight: normal;
}

#form-log-button input {
    display: block;
    width: 100%;
    height: 50px;
    color: #343434;
    font-family: Helvetica;
    font-size: 17px;
}

#custom-search-input{
    padding: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 17px;
}

#title {
    background: #db0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#db0000, #831010); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#db0000, #831010); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#db0000, #831010); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#db0000, #831010); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#menu {
    color: #db0000;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
}

#subMenu a{
    color: #db0000;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
}

#button1 {
    height: 20px;

}

#button1 button{
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    horizontal-align: right;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: bold;
}

#button1 button:hover {
    background-color: #ff1a1a;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: bold;
}

#main-div {
    padding: 30px 0px;
}

#div-principal-div {
    margin: 0 auto -300px;
    min-height: 100%;
    background-color: transparent;
    max-width: 100%;
}

#div-principal-movies {
    margin-top: 60px;
    width: 100%;
}

#div-principal-list {
    padding: 0 0;
}

#div-principal-img {
    width: 230px;
    height: 345px;
}

.container{
    position: relative;
    padding: 0 0;
}

.image {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1a1a1a;
}

.container:hover .overlay {
    opacity: .85;
}

.text {
  color: #f7fff7;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#div-principal-button {
    padding-top: 20px;
}

#div-principal-button button {
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 15px 10%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#div-principal-button button:hover {
    background-color: #ff1a1a;
}

#div-principal-previous {
    width: 100px;
    color: #db0000;
}

#div-principal-number {
    border-color: #db0000;
    background: #db0000;
    color: #f7fff7;
}

#div-principal-next {
    width: 100px;
    color: #db0000;
}

#div-form-newuser{
    margin-top: 5%;
    padding: 10px 10%;
    width: 100%;
}

#div-title-newuser{
    margin: 0 auto;
    min-height: 100%;
    max-width: 750px;
    min-width: 350px;
}

#div-title-newuser h2 {
    text-align: center;
}

#div-form-newuser-content{
    margin: 0 auto -236px;
    min-height: 100%;
    max-width: 550px;
    min-width: 350px;

}

#div-form-newmovie-warnings{
    padding-top: 20px;
    padding-bottom: 10px;
    color: red;
    font-weight: bold;
    padding: 0px auto;
}

#form-newuser-button button {
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
}

#form-newuser-button button:hover {
    background-color: #ff1a1a;
}

#form-newuser-button label{
    margin-top: 15px;
    font-size: 18px;
    font-weight: normal;
}

#form-newuser-button input {
    display: block;
    width: 100%;
    height: 50px;
    color: #343434;
    font-family: Helvetica;
    font-size: 18px;
}

#div-form-newmovie{
    margin-top: 5%;
    padding: 10px 10%;
    width: 100%;
}

#div-title-newmovie{
    margin: 0 auto;
    min-height: 100%;
    max-width: 750px;
    min-width: 350px;
}

#div-title-newmovie h2 {
    text-align: center;
}

#div-form-newmovie-content{
    margin: 0 auto -236px;
    min-height: 100%;
    max-width: 550px;
    min-width: 350px;

}

#div-form-newmovie-warnings{
    color: red;
    font-weight: bold;
    padding: 0px auto;
}

#form-newmovie-button button {
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
}

#form-newmovie-button button:hover {
    background-color: #ff1a1a;
}

#form-newmovie-button label{
    margin-top: 15px;
    font-size: 18px;
    font-weight: normal;
}

#form-newmovie-button input {
    display: block;
    width: 100%;
    height: 50px;
    color: #343434;
    font-family: Helvetica;
    font-size: 18px;
}

#form-div {
    padding: 50px 40px;
}

#img-movie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    max-width: 500px;
    max-height: 745px;
    min-width: 200px;
    min-height: 300px;
}

.star-movie {
    color: #E0C443;
    font-size: 25px;
}

#button2 {
    padding-left: 5%;
    padding-top: 15px;
}

#button2 button {
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#button2 button:hover {
    background-color: #ff1a1a;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#button3 {
    padding-left: 5%;
    padding-top: 15px;
}

#button3 button {
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#button3 button:hover {
    background-color: #ff1a1a;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#button4 {
    padding-left: 5%;
    padding-top: 15px;
}

#button4 button {
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#button4 button:hover {
    background-color: #ff1a1a;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#form-button {
    padding-left: 25px;
    padding-top: 15px;
}

#form-button button {
    background-color: #db0000;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#form-button button:hover {
    background-color: #ff1a1a;
    color: #f7fff7;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

#form-button input {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    height: 50px;
    color: #343434;
    font-family: Helvetica;
    font-size: 17px;
}