<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
    </link>
<!--
    <script th:inline="javascript" >
    /*<![CDATA[*/
 $(document).ready(function() {
        var max_fields      = 10;
        var wrapper         = $(".container1");
        var add_button      = $(".add_form_field");

        var x = 0;
        $(add_button).click(function(e){
            e.preventDefault();
            if(x < max_fields){
                var nombre="untexto["+x+"].text";
                $(this).parent('div').append('<div><input type="text" name='+nombre+' /><a href="#" class="delete">Delete</a></div>'); //add input box
                                x++;
            }
      else
      {
      alert('You Reached the limits')
      }
        });

        $(wrapper).on("click",".delete", function(e){
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });
    /*]]>*/
    </script>
-->
    <script>
            var x = 0;
 $(document).ready(function () {
    onPageLoad();
    });

    function newAdd(e){
    console.log(e);
                var nombre="untexto["+x+"].text";
                var nombreb="b"+x;
                e.parent().append('<div><input type="text" name='+nombre+' /><a href="#" class="delete">Delete</a><button  name='+nombreb+' class="add_form_field">Add New Field &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button></div>'); //add input box

                 add_button      = $(".add_form_field");
                 console.log(x);
                 console.log("uno");
                 $("[name='"+nombreb+"']").click(function(e){

                        newAdd($(this));
                   });
                                    console.log($("[name]"));
                                                     x++;

    }

    function onPageLoad(){
            var max_fields      = 10;
        var wrapper         = $(".container1");
        var add_button      = $(".add_form_field");


        console.log("prueba");

         $(".prueber").click(function(e){
         console.log("yepa");
            });

        $(add_button).click(function(e){
console.log("hi");
                        newAdd($(this));
        });

        $(wrapper).on("click",".delete", function(e){
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    }
    </script>



    <title>Login form</title>
</head>
<body>
<div>
    <div id="div-log-header">
        <a href="/principal" id="title-login">Videoclub</a>
    </div>
   <!-- <form modelAttribute="prueba" th:action="@{/dos}" method="POST" id="form-log-button"> -->

            <button class="add_form_field">Add New Field &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            <div  class="container1"><!--<input type="text" name="untexto"/>--></div>



    <button type="submit">Submit</button>
    <!--</form>-->


</div>
</body>
</html>