<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
    </link>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" id="div-navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" id="title">Videoclub</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menu">Administrar usuarios <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="subMenu">
                            <li><a href="/administrarUsuarios/nuevo">Nuevo usuario</a></li>
                            <li><a href="/administrarUsuarios/buscar">Alterar usuario</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-right: 10px; padding-left: 10px;">
                    <form action="/" method="get" class="navbar-form navbar-right" role="search">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Buscar"  name="nombre"   id="nextlink" />
                                <span class="input-group-btn">
                              <button class="btn btn-info" type="button submit">
                              <i class="glyphicon glyphicon-search"></i>
                              </button>
                              </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li>
                    <a href="#" style="padding-top: 10px;">
                        <form th:action="@{/logout}" method="post" id="button1">
                            <button type="submit">Sign Out</button>
                            <!--type="" -->
                        </form>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
<div id="div-form-newmovie">
    <div id="div-title-newmovie">
        <h2>Formulario de alta de película</h2>
    </div>
    <div id="div-form-newmovie-content">
        <div id="div-form-newmovie-warnings">
            <p><span th:style="${color}" th:text="${mensaje}">resultado</span></p>
        </div>
        <form action="nueva" method="post" id="form-newmovie-button">
            <p>*Campos Obligatorios</p>
            <label for="nombrePelicula">Nombre*</label>
            <input type="text" name="nombrePelicula" id="nombrePelicula"/>
            <p/>
            <label for="urlPelicula">URL de la pelicula*</label>
            <input type="text" name="urlPelicula" id="urlPelicula"/>
            <p/>
            <label for="sinopsis">Descripción</label>
            <input type="text" name="sinopsis" id="sinopsis"/>
            <p/>
            <label for="ano">Año</label>
            <input type="text" name="ano" id="ano"/>
            <p/>
            <label for="director">Director</label>
            <input type="text" name="director" id="director"/>
            <p/>
            <label for="reparto">Reparto de actores</label>
            <input type="text" name="reparto" id="reparto"/>
            <p/>
            <label for="urlPortada">URL de la portada</label>
            <input type="text" name="urlPortada" id="urlPortada"/>
            <p/>
            <label for="valoracion">Valoración</label>
            <input type="text" name="valoracion" id="valoracion"/>
            <p/>
            <input type="hidden" name="intento" th:value="si"/>
            <p/>
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
            <button type="submit">Dar alta película</button>
        </form>
    </div>
</div>
</body>
</html>