<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
    </link>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" id="div-navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" id="title">Videoclub</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div th:if="${admin}">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menu">Administrar usuarios <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="subMenu">
                            <li><a href="/administrarUsuarios/nuevo">Nuevo usuario</a></li>
                            <li><a href="/administrarUsuarios/buscar">Alterar usuario</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-right: 10px;padding-left: 10px;">
                    <form action="/" method="get" class="navbar-form navbar-right" role="search">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Buscar"  name="nombre"   id="nextlink" />
                                <span class="input-group-btn">
                              <button class="btn btn-info" type="button submit">
                              <i class="glyphicon glyphicon-search"></i>
                              </button>
                              </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li>
                    <a href="#" style="padding-top: 10px;">
                        <form th:action="@{/logout}" method="post" id="button1">
                            <button type="submit">Sign Out</button>
                            <!--type="" -->
                        </form>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<div id="main-div">
    <div class="col-sm-4" style="padding-top: 50px;">
        <img class="embed-responsive img-rounded" th:src="${pelicula.urlPortada}" alt="Portada" id="img-movie"/>
        <form th:if="${admin}" th:action="'/administrarPeliculas/' + ${pelicula.id}" method="get" id="button2">
            <button type="submit">Modificar </button>
        </form>
        <form th:if="${admin}" th:action="'/administrarPeliculas/' + ${pelicula.id} + '/borrada'" method="get" id="button3">
            <button type="submit">Borrar </button>
        </form>
    </div>
    <div class="col-sm-8">
        <br/><h2><span th:text="${pelicula.nombre}">Nombre</span>
        (<span th:text="${pelicula.ano}">Año</span>)</h2>
        <br/>
        <h4>Sinopsis </h4>
        <span th:text="${pelicula.sinopsis}">sinopsis</span>
        <br/><br/>
        <h4>Dirección </h4>
        <span th:text="${pelicula.director}">director</span>
        <br/><br/>
        <h4>Reparto </h4>
        <span th:text="${pelicula.reparto}">reparto</span>
        <br/><br/>
        <h4>Valoración </h4>
        <i th:if="${val >= 2}" class="glyphicon glyphicon-star star-movie"></i>
        <i th:if="${val >= 4}" class="glyphicon glyphicon-star star-movie"></i>
        <i th:if="${val >= 6}" class="glyphicon glyphicon-star star-movie"></i>
        <i th:if="${val >= 8}" class="glyphicon glyphicon-star star-movie"></i>
        <i th:if="${val == 10}" class="glyphicon glyphicon-star star-movie"></i>
        <i th:if="${val &lt; 2}" class="glyphicon glyphicon-star-empty star-movie"></i>
        <i th:if="${val &lt; 4}" class="glyphicon glyphicon-star-empty star-movie"></i>
        <i th:if="${val &lt; 6}" class="glyphicon glyphicon-star-empty star-movie"></i>
        <i th:if="${val &lt; 8}" class="glyphicon glyphicon-star-empty star-movie"></i>
        <i th:if="${val &lt; 10}" class="glyphicon glyphicon-star-empty star-movie"></i>
        <span th:text="${pelicula.valoracion}"  style="font-size: 25px; font-weight: bold;">valoracion</span>
        <br/><br/>
        <h4>Trailer </h4>
        <iframe class="embed-responsive-item" width="640" height="360"
                th:src="${pelicula.urlPelicula}"
                frameborder="0" allowfullscreen="true"></iframe>
    </div>
</div>
</body>
</html>